.paperPageGallery {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(14, 28, 49);
}

.paperHeaderGallery {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgb(202, 171, 103);
}

.break {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(250, 236, 194);
}

.viewBpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(117, 113, 106);
}

.paperTransferBcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(166, 156, 140);
}

.paperTransferENS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(207, 200, 187);
}

.previewBpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(161, 173, 159);
}

.updateBpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(147, 158, 118);
}

.makeBpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(121, 135, 123);
}

.addBpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(96, 113, 97);
}

.latestBpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 16px;
  overflow: scroll;
  background-color: rgb(39, 62, 41);
}

.connectButtonBpaper {
  border: none;
  border-radius: 50px;
  padding: 3px 9px;
  cursor: pointer;
  background-color: rgb(176, 196, 158);
}

.BpaperLogoGallery {
  width: 75px;
  height: 75px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  padding-top: 15px;
}

.BpaperReaderImage {
  display: flex;
  height: 600px;
  border-radius: 5px;
}

.nftText {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.card {
  width: clamp(400px, 40vw, 200px);
  height: 200px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.cardImage {
  width: 30px;
  height: 30px;
  margin: 0px 5px 5px 5px;
}

.counter {
  position: absolute;
  top: 15px;
  right: -8px;
  font-size: 12px;
}
