.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(63, 108, 79);
}

.mainHeader {
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(221, 224, 173);
}

.twitter008 {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(174, 183, 141);
}

.superSite {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(114, 152, 196);
}
