.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 160, 138);
}

.header {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgb(247, 178, 129);
}

.break {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(140, 165, 168);
}

.viewBcard {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(250, 195, 124);
}

.ENSToBcardID {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(250, 223, 163);
}

.transferENS-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(199, 219, 209);
}

.transferENS {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(199, 219, 209);
}

.transferBcard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(219, 210, 199);
}

.transferBcard {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(219, 210, 199);
}

.transferAddr-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(189, 191, 195);
}

.transferAddr {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(189, 191, 195);
}

.mintNewBcard {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(124, 134, 162);
}

.addBcard {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(103, 114, 150);
}

.buttonConnectBcard {
  border: none;
  border-radius: 50px;
  padding: 3px 9px;
  cursor: pointer;
  background-color: rgb(223, 211, 163);
}

.BcardLogo {
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  padding-top: 15px;
}

.nftImage {
  height: 150px;
  border-radius: 5px;
}

.nftText {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.card {
  width: clamp(400px, 40vw, 200px);
  height: 200px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.cardImage {
  width: 30px;
  height: 30px;
  margin: 0px 5px 5px 5px;
}

.counter {
  position: absolute;
  top: 15px;
  right: -8px;
  font-size: 12px;
}
