* {
  margin: 0;
  padding: 0;
}

.direction {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-weight: bold;
  background-color: rgb(131, 157, 166);
}

.direction ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.direction li.active {
  background-color: rgb(200, 214, 229);
}

.site-title {
  font-size: 2rem;
}

body {
  margin: 0;
  background-color: rgb(89, 112, 136);
  color: black;
}
